.knowlegde-container{
    margin: 0 7rem;
    flex-wrap: wrap;
}
.conocimientos-items{
    margin: .3rem .2rem;
    width: 30%;
    height: 25rem;
    background-color: #e4e2e2;
    border-radius: 10px;
    cursor: pointer;
}
.conocimientos-title{
    font-size: 2rem;
}
.conocimientos-icon{
    font-size: 6rem;
}
